<form class="faq" method="post" action="/contact">
    <label for="from">От кого:</label>
    <input type="email" id="from" name="from"/>
    <label for="subject">Тема:</label>
    <input type="text" id="subject" name="subject"/>
    <label for="msg">Текст сообщения:</label>
    <textarea name="msg" id="msg" cols="30" rows="5"></textarea>
    <input type="submit" value="Оправить"/>
</form>