<div id="video_link"></div>
<div id="info">
  <h2>Ассоциация Охранных предприятий "Контр-В"</h2>
  <h3>
    Общество с ограниченной ответственностью Охранное
    Предприятие "Контр-В"
  </h3>
  <p>
    Лицензия ЧО 009337 до 23 мая 2018 года.<br/>
    ИНН/4705060743 <br/>
    огрн /1134705001089<br/>
    188510 Ленинградская область Волосовский район</br>
    г.Волосово Гатчинская д. 3а<br/>
    e-mail: <a id="sendmail" href="#contact">contr-v@mail.ru</a><br/>
    тел. 8(81373) 25 021<br/>
    +7 921 447 40 30<br/>
  </p>
</div>