<ul id="blocks">
	<% @menu_items.each do |key, value| %>
		<li id="<%= key %>" class="main_block">
			<h1><%= value %></h1>
			<section class="inner"><%= erb key.to_sym %></section>
		</li>
	<% end %>
</ul>