<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name='yandex-verification' content='7e68b0bf8d1e7002' />
	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->
	<!--[if (gte IE 5.5)&(lte IE 8)]>
	<script type="text/javascript" src="/js/DOMAssistantCompressed-2.8.1.js"></script>
	<script type="text/javascript" src="/js/selectivizr-min.js"></script>
	<![]endif-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/scripts.js"></script>

	<link rel="stylesheet" href="/css/style.css"/>
	<title><%= title %></title>
	<meta name="title" content="физическая охрана от ООО 'Контр-В'"/>
	<meta name="description" content="Охранное предприятие ООО 'Контр-В' предоставляет физическую охрану, охрану недвижимости и сопровождение грузов."/>
	<meta name="keywords" content="охрана, охранное предприятие, физическая охрана, охрана предприятия, охрана квартир, сопровождение грузов"/>
</head>
<body>
	<header id="header">
		<nav id="nav">
			<ul>
			<% @menu_items.each do |key, value| %>
				<li><a href="#<%= key %>"><%= value %></a></li>
			<% end %>
			</ul>
		</nav>
	</header>
	<%= yield %>
	<footer id="footer">
		<%= erb :footer %>
    </footer>
    <div id="audio_control" class="off">
	    <audio id="sound">
	    	<source src="/audio/myz.wav" type="audio/wav" >
			<source src="/audio/myz.mp3" type="audio/mp3" >
	    </audio>
    </div>
    <!-- Google.Analityc -->
    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-57607571-1', 'auto');
		ga('send', 'pageview');
	</script>
    <!---->
    <!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (d, w, c) {
		    (w[c] = w[c] || []).push(function() {
		        try {
		            w.yaCounter27456180 = new Ya.Metrika({id:27456180,
		                    clickmap:true,
		                    trackLinks:true,
		                    accurateTrackBounce:true});
		        } catch(e) { }
		    });

		    var n = d.getElementsByTagName("script")[0],
		        s = d.createElement("script"),
		        f = function () { n.parentNode.insertBefore(s, n); };
		    s.type = "text/javascript";
		    s.async = true;
		    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		    if (w.opera == "[object Opera]") {
		        d.addEventListener("DOMContentLoaded", f, false);
		    } else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/27456180" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</body>
</html>