<p>188410 Ленинградская область<br/>г. Волосово,<br/>ул. Гатчинская, д. 3а</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4055.5175192944735!2d29.498026200286972!3d59.453773957128924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4695e0325c28caf7%3A0x524290336ef391ff!2z0JPQsNGC0YfQuNC90YHQutCw0Y8g0YPQuy4sIDM!5e0!3m2!1sru!2sru!4v1397328867933"></iframe>