<ul id="slider" data-current="0">
<% @services.each do |service| %>
	<li class='slide'>
		<h2><%= service[:title] %></h2>
		<p>
			<%= service[:description] %>
		</p>
	</li>
<% end %>
</ul>
