@font-face {
    font-family: SchollBookAC;
    src: url(/fonts/SchoollBookAC.ttf);
}
@font-face {
    font-family: clearsans;
    src: url(/fonts/clearsans.ttf);
}

@font-face {
    font-family: deja;
    src: url(/fonts/deja.ttf);
}
@font-face {
    font-family: for_slide;
    src: url(/fonts/exL0g0L5.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: clearsans;
}
html {
    background: -webkit-linear-gradient(#1047a9, #00c12b);
    background:    -moz-linear-gradient(#1047a9, #00c12b);
    background:     -ms-linear-gradient(#1047a9, #00c12b);
    background:      -o-linear-gradient(#1047a9, #00c12b);
    background:         linear-gradient(#1047a9, #00c12b);
    background-attachment: fixed;
    overflow-x: hidden;
}
body {
    width: 960px;
    height: 718px;
    background: url(/images/preview2.png);
    background-repeat: round;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 20px black;
    border-radius: 15px;
    overflow: hidden;
    color: white;
    text-shadow: 1px 1px 2px black;
}
ul {
    list-style: none;
}
/* Heade and Main menu */
#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 0 0 5px black;
}
#nav {
    width: 960px;
    position: relative;
    text-align: right;
    line-height: 60px;
    vertical-align: baseline;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 0 0 12px black,
    0 0 5px black,
    0 0 2px black;
}
#nav ul {
    list-style: none;
}
#nav ul li {
    margin: 0 10px;
    display: inline-block;
}
#nav ul li:last-child {
    margin-right: 30px;
}
#nav ul li a {
    text-decoration: none;
    line-height: 40px;
    color: white;
}

/* Main blocks */
#main {
    position: relative;
    width: 960px;
    height: 718px;
}
#blocks {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 718px;
    width: 5500px;
}
#blocks .main_block {
    display: inline-block;
    width: 960px;
    height: 718px;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    box-sizing: -webkit-border-box;
    box-sizing:    -moz-border-box;
    box-sizing: 	-ms-border-box;
    box-sizing: 	 -o-border-box;
    box-sizing: 	    border-box;
    border-radius: 15px;
    z-index: 1;
}
.main_block h1 {
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 12px black,
    0 0 5px black,
    0 1 3px black,
    0 0 10px black;
    margin-left: 20px;
}

/* Footer */
#footer {
    position: absolute;
    color: white;
    text-shadow: 0 0 12px black,
    0 0 5px black,
    0 0 2px black;
    bottom: 0;
    width: 960px;
    text-align: right;
    line-height: 40px;
    right: 20px;
    vertical-align: baseline;
    z-index: 12;
}
#footer:before {
    content: "";
    position: absolute;
    width: 90%;

    height: 300%;
    top: 0;
    right: -20px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background: -webkit-linear-gradient(120deg, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
    background:    -moz-linear-gradient(120deg, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
    background:     -ms-linear-gradient(120deg, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
    background:      -o-linear-gradient(120deg, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
    background:         linear-gradient(120deg, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
    z-index: -1;
}
/* Others */
.inner {
    padding: 20px;
    background: rgba(26, 97, 20, 0.8);
    border: 1px solid white;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.6);
}
.inner a {
    color: white;
}
#home {
    /*background-image: url(/images/contr.gif);*/
    background-size: 960px 718px;
}
#video_link {
    position: absolute;
    background: url(/images/preview2.png);
    width: 410px;
    height: 306px;
    background-repeat: round;
    top: 80px;
    left: -440px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid grey;
    overflow: hidden;
    display: none;
}
#video_link:after {
    content: ">";
    font-weight: bolder;
    font-size: 100px;
    text-align: center;
    line-height: 290px;
    vertical-align: baseline;
    position: absolute;
    background: black;
    opacity: 0.5;
    width: 410px;
    height: 306px;
    top: 0;
    left: 0;

}
#about .inner {
    position: absolute;
    width: 400px;
    margin-top: 40px;
    margin-left: 460px;
}
#services .inner {
    width: 800px;
    height: 500px;
    position: relative;
    top: 40px;
    left: 40px;
    overflow: hidden;
}
#services h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
}
#contact .inner, #home .inner {
    width: 320px;
    position: absolute;
    margin-right: 20px;
    margin-top: 70px;
    margin-left: 490px;
}
#map .inner {
    position: absolute;
    padding: 20px;
    margin-top: 15px;
    margin-left: 130px;
}
#map p {
    text-align: center;
    margin-bottom: 20px;
}
#map iframe {
    width: 600px;
    height: 450px;
    border: 0;
    margin: 0;
}

/* Video */
#video_wrapper {
    position: absolute;
    width: 960px;
    height: 718px;
    left: 0;
    top: 0;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    z-index: 20;
}
#video_wrapper:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
#video {
    width: 100%;
}

/* Slider of services */
#slider {
    list-style: none;
    position: absolute;
    width: 5000px;
}
#slider .slide {
    display: inline-block;
    width: 720px;
    /*height: 500px;*/
    margin: 40px;
    vertical-align: middle;
}
#services .prev, #services .next {
    position: absolute;
    top: 200px;
    cursor: pointer;
    font-family: for_slide;
    font-size: 50px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.5);
}
#services .prev:hover, #services .next:hover {
    color: white;
}
#services .prev {
    left: 10px;
}
#services .next {
    right: 10px;
}
/* Form */
.faq {
    width: 308px;
    margin: 0 auto;
    padding: 15px 0;
    font-style: normal;
}
label {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
label:first-child {
    margin-top: 0;
}
input[type="text"],
textarea,
input[type="email"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus {
    box-shadow: 0 0 5px rgba(50, 200, 255, 0.5);
    outline: none;
}
input[type="submit"] {
    display: block;
    margin-top: 1em;
    padding: 5px 8px;
    color: #333;
    background-color: white;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to top, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 1px white;
    outline: none;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6) inset;
}
#module {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    background: grey;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
}
#module:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: -1;
}
#audio_control {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 20px;
    left: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 19; 
}
#audio_control.on {
    background-image: url("/images/soundon.png");
}
#audio_control.off {
    background-image: url("/images/soundoff.png");
}